security:
  enabled: false
spring:
#  profiles:
#      include: security
  jpa:
    properties:
      hibernate:
        default_schema: edo
  flyway:
    enabled: true
    user: postgres #Should be changed (local database username)
    password: root
    host: localhost
    url: jdbc:postgresql://${spring.flyway.host}:5432/edo_db?currentSchema=${spring.flyway.default-schema}
    default-schema: edo
    locations: db/migration
    out-of-order: true
  application:
    name: edo-repository
server:
  port: 0
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://${spring.flyway.host}:8761/eureka}

  instance:
    preferIpAddress: true
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${random.value}}